<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../../static/css/dashboard/global.css">
    <link rel="stylesheet" href="../../static/css/dashboard/add_products.css">
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
        <section class="left">
            <h1>KasiThreads</h1>
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('brands')}}">Brands</a>
            <a href="{{url_for('home_photos')}}">Home photos</a>
            <a href="{{url_for('products')}}">products</a>
            <a href="{{url_for('orders')}}">orders</a>
            <a href="{{url_for('settings')}}">settings</a>
        </section>
    
        <section class="right">
            <section class="top">
                <div class="brand_logo">
                    <img src="../static/uploads/{{brandlogo[2]}}" alt="{{user}}">
                    <h2>{{user|capitalize}}</h2>
                </div>
                <div class="header">
                    <i class="fa fa-user user" aria-hidden="true"></i>
                    <div class="logout">
                        <select name="logout" id="logout" onchange="handleLogout(event)">
                            <option value="" disabled selected></option>
                            <option value="logout">Logout</option>
                        </select>
                    </div>
                </div>
            </section>
    
            <section class="bottom">
                <h2>Add Product</h2>
                <h2>Products that you add will be classified as {{user}} products, and {{user}} will be held acountable for each product.</h2>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="photo">Upload Photo:</label>
                    <input type="file" name="photo" accept="image/*" required><br><br>

                    <label for="name">Product Name:</label>
                    <input type="text" name="Product Name" placeholder="Product name"  required><br><br>

                    <label for="price">R:</label>
                    <input type="number"  name="Product Price" placeholder="Product Price" step="1" min="50" required><br><br>

                    <label for="gender">Product for Males/Females:</label>
                    <select id="gender" name="gender" required>
                    <option value="male">Males</option>
                    <option value="female">Females</option>
                    </select><br><br>

                    <label for="type">Product Type:</label>
                    <select id="type" name="type" onchange="updateSizeOptions()" required>
                        <option value="" disabled selected>Select Type</option>
                        <option value="shoes">Shoes</option>
                        <option value="clothing">Clothing</option>
                    </select><br><br>
                    <label for="size">Product Size:</label>
                    <div id="size" required>
                        <!-- Size checkboxes will be populated dynamically -->
                    </div><br><br>

                    <label for="description">Product Description:</label>
                    <textarea type="text" name="description" placeholder="Product Description" required></textarea><br><br>

                    <button type="submit">Upload</button>
                </form>
            </section>
        </section>


        <script src="../../static/javascript/dashboard/add_products.js"></script>
        <script>
            function handleLogout(event) {
                if (event.target.value === "logout") {
                    window.location.href = "{{ url_for('logout') }}";
                }
            }
        </script>
</body>
</html>