<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/css/dashboard/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/alert.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <section class="left">
        <h1>KasiThreads</h1>
        <a id="active" href="{{url_for('home')}}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <a href="{{url_for('brands')}}" class="disappear"><i class="fa fa-plus-square" aria-hidden="true"></i>Brands</a>
        <a href="{{url_for('home_photos')}}" class="disappear"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>HomePhotos</a>
        <a href="{{url_for('products')}}"><i class="fa fa-upload" aria-hidden="true"></i>products</a>
        <a href="{{url_for('orders')}}"><i class="fa fa-download" aria-hidden="true"></i>orders</a>
        <a href="{{url_for('settings')}}"><i class="fa fa-cog" aria-hidden="true"></i>settings</a>
    </section>

    <section class="right">
        <section class="top">
            <div class="brand_logo">
                <h2>{{user|capitalize}}</h2>
            </div>
            <div class="header">
                <img src="../static/uploads/{{brandlogo[2]}}" alt="{{user}}">
                <div class="logout">
                    <select name="logout" id="logout" onchange="handleLogout(event)">
                        <option value="" disabled selected></option>
                        <option value="logout">Logout</option>
                    </select>
                </div>
            </div>
        </section>

        <section class="bottom">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
            <h2>Welcome to KasiThreads Dashboard, you are loggedin as a {{user_type}}</h2>
            <div class="orders">New orders will appear here</div>
        </section>
    </section>

    <script>
        function handleLogout(event) {
            if (event.target.value === "logout") {
                window.location.href = "{{ url_for('logout') }}";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>