body{
    display: flex;
    flex-direction: row;
    margin: 0px 2%;
    overflow-x: hidden;
}

.left{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    border-right: 2px solid gray;
    position: fixed;
    z-index: 100;
    background-color: white;
    
}
.right{
    margin-left: 26%;
    margin-right: 10%;
    width: 75%;
   
}
.top {
    width: 100%;
    border-bottom: 2px solid gray;
    height: 90px;
    background-color: white;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: left; /* Center the content horizontally */
    padding-right: 15%; /* Add padding on the left and right */
    box-sizing: border-box; /* Ensure padding is included in the width */
    gap: 60%;
}


.top .brand_logo{
    display: flex;
    flex-direction: row;
}
.top img{
    height: 80px;
    width: 90px;
    border-radius: 200px;
    margin-left: 10px;
    margin-top: 5px;
}
.bottom{
    width: 100%;
    padding-left: 5%;
    margin-top: 100px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-bottom: 3vh;
}
a:hover{
    color: aqua;
}
h1{
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-weight: 800;
    font-family: "Jaini Purva", system-ui;
    font-size: 35px;
}
.price{
    font-size: 30px;
    color: black;
}

i{
    color: blueviolet;
    font-size: 30px;
    margin-right: 4%;
}

.logout select{
    appearance: none;
}
.logout::before{
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    position: absolute;
    top: 2vh;
    left: 40%;
}

#logout{
    border: none;
    font-size: 25px;
}
#logout:focus{
    outline: none;
    border: none;
}
.header{
    display: flex;
    flex-direction: row;
    position: relative;
   
    margin-top: 5vh;
}
