section{
    height: 60vh;
    width: 30%;
    background-color: gray;
    text-align: center;
    margin: 20vh 35%;
    box-shadow: 100px 1000px 1000px 1000px rgba(0, 0, 0, 0.4);
}
h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: "Jaini Purva", system-ui;
    font-size: 35px;
}
input{
    height: 3vh;
    margin-bottom: 3vh;
}

button{
    background-color: blue;
    height: 5vh;
    width: 80px;
}