.home_photos{
    height: 95vh;
    display: flex;
    flex-direction: row;
    margin: 0px 1%;
    
}
.home_photos h2{
    font-family: "Sedan SC", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    cursor: default;
    color: white;
    padding-top: 7vh;
    padding-left: 4%;
}
.home_photos h4{
    font-family: "Sedan SC", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    cursor: default;
    color: white;
    padding-left: 4%;
    padding-top: 30px;
}
.home_photos button{
    border: none;
    color: white;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
}
.home_photos .firstphoto button{
    position: relative;
    top: 20vh;
    left: 70%;

}
.home_photos .firstphoto h3{
    font-size: 45px;
    color: white;
    padding-left: 5%;
    padding-top: 0px;
    position: relative;
    top: 50px;
}
.home_photos .firstphoto{
    background-size: cover;
    background-repeat: no-repeat;
    height: 91vh;
    width: 55%;
    position: relative;
    top: 10px;
}
#secondthird{
    height: 90vh;
    width: 44%;
    position: relative;
    left: 1%;
    bottom: 10px;
}
.secondphoto{
    background-size: cover;
    height: 44vh;
}
.thirdphoto{
    background-size: cover;
    height: 45.5vh;
    position: relative;
    bottom: 10px;
}

.brand img{
    height: 190px;
    width: 200px;
}
.suggestions h2{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.suggestions{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
}

form label{
    font-size: 20px;
}
form button{
    font-size: 25px;
    border: none;
    background-color: blue;
    color: white;
}

form textarea{
    position: relative;
    top: 10px;
    width: 300px;
    border: none;
    border-radius: 0px;
}
form input{
    height: 3vh;
}

.featured_brands{
    text-align: center;
    margin-bottom: 1%;
}
.featured_brands a{
    gap: 5%;
}
.featured_brands a:hover{
    transform: scale(1.05);
}
.featured_brands h2{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}
.paxiBurner{
    background-color: purple;
    padding-top: 20px;
    padding-left: 4%;
    color: white;
    height: 11vh;
}
.burner_photo{
    height: 60px;
    width: 130px;
}
.paxiBurner h3{
    position: relative;
    left: 150px;
    bottom: 94px;
    font-size: 30px;
}
.paxiBurner h2{
    position: relative;
    left: 150px;
    bottom: 120px;
    font-size: 20px;
}
.paxiBurner h2 a{
    text-decoration: none;
    color: rgb(13, 13, 78);
}
.homeproducts{
    text-align: center;
    height: 75vh;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.homeproducts h2{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}
.homeproducts span{
    text-decoration: none;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: gray;
}
.homeproducts h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: gray;
    font-style: normal;
    font-size: 15px;
}
.homeproducts img{
    border-radius: 25px;
    transition-duration: 0.2s;
}
.homeproducts img:hover{
    transform: scale(1.05);
}
.homeproducts a{
    text-decoration: none;
    height: 20vh;
    width: calc(100%/5);
}
.homeproducts a h3{
    color: black;
    font-size:15px ;
    font-weight: 400;
    position: relative;
    bottom: 10px;
}
.homeproducts a p{
    color: black;
    font-size:20px ;
    font-weight: 400;
    position: relative;
    bottom: 20px;
}
.homeproducts div{
    display: flex;
    flex-direction: row; 
    gap: 5%;
    overflow-x: hidden;
}
.featured_brands div{
    display: flex;
    flex-direction: row; 
    gap: 5%;
    overflow-x: hidden;
 }
.scroll-btn{
    border: none;
    background-color: white;
    font-size: 50px;
}
.scroll-btn.prev{
    border: none;
    background-color: white;
}
.scroll-content{
    overflow-y: hidden;
    height: 60VH;
    margin: 0px -50px;
}
.scroll-brands{
    overflow-y: hidden;
    height: auto;
    margin: 0px -50px;
}

@media (max-width: 970px){
    form{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    form .name-input{
        width: 30%;
        position: relative;
        bottom: 10px;
        left: 19%;
       
    }
    form .name{
        font-size: 25px;
        position: relative;
        right:83%;
        top: 16px;
    }
    form .email-input{
        width: 30%;
        position: relative;
        left: 65%;
        bottom: 64px;
    }
    form .email{
        font-size: 25px;
        position: relative;
        right: 36%;
        bottom:34px;
    }
    form textarea{
        width: 71.8%;
        position: relative;
        left: 24%;
        margin-top: -90px;
    }
    form .message{
        font-size: 25px;
        position: relative;
        right: 77%;
        bottom: 50px;
       
    }
    form button{
        width: 86.5%;
        position: relative;
        left: 9.5%;
        margin-top: 20px;
    }
}

@media (max-width: 740px){
    .burner_photo{
        height: 7vh;
        width: 15%;
    }
    .paxiBurner{
        background-color: purple;
        padding-top: 20px;
        padding-left: 4%;
        color: white;
        height: 9vh;
    }

    .paxiBurner h3{
        position: relative;
        left: 16%;
        bottom: 84px;
        font-size: 25px;
    }
    .paxiBurner h2{
        position: relative;
        left: 16%;
        bottom: 100px;
        font-size: 15px;
    }
}
@media (max-width: 600px){
    .paxiBurner h3{
        font-size: 20px;
    }
    .paxiBurner h2{
        font-size: 15px;
    }
}
@media (max-width: 460px){
    .paxiBurner h3{
        font-size: 18px;
        margin-right: 2%;
    }
    .paxiBurner h2{
        font-size: 13px;
    }
}