.heading{
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.create_account{
    text-align: center;
    height: 350px;
    margin-top: 50px;
}

.create_account form input{
    height: 20px;
    width: 180px;
    margin-top: 8px;
    position: relative;
    top: 5px;
    border: 1.5px solid gray;
}

.create_account form button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: blue;
}