<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/website/global.css">
    <link rel="stylesheet" href="../../../static/css/website/cart.css">
    <title>Cart</title>
</head>
<body>
    <div onclick="closeIframe()" class="cartClose" id="cartClose">
        <span class="bar1"></span>
        <span class="bar2"></span>
    </div>

    <section class="orders">
        <h2>Cart Products</h2>
        <div class="cart">
            <ul id="cart-items"></ul>
        </div>
    </section>
    <script>
        function closeIframe() {
            window.parent.closeIframe();
        }
    </script>
</body>
</html>